.cate-box{
    height: 200px;
    width: 200px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 15px;
    margin: 5px;
}


.image-holder{
  margin: 20px; 
}
.card-footer-custom{

    padding: .75rem 1.25rem;
    background-color: #FFFFFF;
    border-top: 1px solid rgba(0,0,0,.125);
    transition: 0.7s;
}

.card-footer-custom:hover { 
    background-color: #007bff;
    color: #FFFFFF;
  }

.card-footer-custom:active { 
background-color: #6610f2;
}
.three-info-tag{
    min-width:210px;
}
.pareant-image{
    border-radius: 20px;
    -moz-box-shadow:  0 0 33px 0px rgba(0,0,0,.5), 0px 30px 40px rgba(0,0,0,.3);
    -webkit-box-shadow:  0 0 33px 0px rgba(0,0,0,.5), 0px 30px 40px rgba(0,0,0,.3);
    box-shadow: 0 0 33px 0px rgba(0,0,0,.5), 0px 30px 40px rgba(0,0,0,.3);
    overflow: hidden;
}

.star_ptag{
    width: 65px;
    min-width: 65px;
    border: 1px solid rgb(222, 226, 230);
    border-radius: 30px;
    display: inline-block;
    margin-left: 2px;
    margin-right: 2px;
    font-size: 10px;
}
img{
    height: 100%;
    width: 100%;
   
    z-index: 1;
}   

.item-title{
    text-align: center;
    font-size: 16px;
    line-height: 0px;
    font-weight: 600;
    
}
.card-title-custom{
    height: 20px;
    font-size: 18px;
    line-height:20px; 
    overflow:hidden;
    
}
.card-text-custom {
    height:60px;
    font-size: 12px;
    line-height:20px; 
    overflow:hidden;
}




.round-img-custom{
    background: white;
    height: 50%;
    width: 50%;
    min-width: 100px;
    min-height: 100px;
    border-radius: 50px;
    margin: 20px;
    -webkit-box-shadow: 0px 2px 15px -3px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 2px 15px -3px rgba(0, 0, 0, 1);
    box-shadow: 0px 2px 15px -3px rgba(0, 0, 0, 1);
}