.App {
  text-align: center;
  min-width: 300px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.input-repo-name{
  display: inline-block;
  width: 25%;
  min-width: 200px;
  float: left;
}
.search-repo-button{
  margin-left: 20px;
  display: inline-block;
  margin-bottom: 3px;
  float: left;
  text-align: center;
}

/* @media (min-width: 1000px){
  .container-custom{
  -webkit-column-count: 3;
  -moz-column-count: 3; 
  column-count: 3;
  -webkit-column-gap: 30px; 
  -moz-column-gap: 30px; 
  column-gap: 30px;
  }
}

@media (min-width: 750px){
  .container-custom{
  -webkit-column-count: 3; 
  -moz-column-count: 3; 
  column-count: 3;
  -webkit-column-gap: 30px; 
  -moz-column-gap: 30px; 
  column-gap: 30px;
  }
} */


  
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
